@import 'tailwindcss';
@import 'react-big-calendar/lib/css/react-big-calendar.css';

:root {
  font-family: 'Segoe UI', system-ui, -apple-system, sans-serif;
  line-height: 1.4;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  min-width: 320px;
}
